<mat-toolbar class="navbar" color="primary">
  <a
    mat-raised-button
    aria-label="Home page"
    color="accent"
    routerLink="/"
  >
    <mat-icon>home</mat-icon>
    <span>YOGI</span>
  </a>
  <a
    mat-raised-button
    class="navbar-link"
    aria-label="Home page"
    color="accent"
    routerLink="/stats"
  >
    <mat-icon>info</mat-icon>
    <span>WORKOUT STATS</span>
  </a>
  <a
    mat-raised-button
    class="navbar-link-github"
    aria-label="Github repository"
    color="accent"
    href="https://github.com/amitkummer/"
  >
    <mat-icon>star</mat-icon>
    <span>STAR ON GITHUB</span>
  </a>
</mat-toolbar>
